.navbar {
  display: flex;
  align-items: center;
  height: var(--navbar-height);
  padding: 20px;
  background-color: var(--inverse-bg-color);
}

.nav {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
