.app {
  &.dark {
    --bg-color: #080850;
    --inverse-bg-color: #e8e8ea;

    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverse-primary-color: #0232c2 ;
    --inverse-secondary-color: #0452ff;
  }
}
