.app-button {
  color: var(--primary-color);
  cursor: pointer;
}

.clear,
.clear-inverse{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.clear-inverse {
  color: var(--inverse-primary-color);
}

.outline {
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color)
}
